<div class="med">
  {{format-temperature current.temperature}}, {{current.summary}}

  {{#if current.icon}}
    <i class="wi wi-forecast-io-{{current.icon}}"></i>
  {{/if}}
</div>

{{#if preview}}
<div>
  {{format-temperature preview.temperatureMin}}
  /
  {{format-temperature preview.temperatureMax}}
  <br/>{{preview.summary}}
</div>

<!--
<div>
  <i class="wi wi-sunrise"></i>
  {{preview.sunriseTime}}
</div>

<div>
  <i class="wi wi-sunset"></i>
  {{preview.sunsetTime}}
</div>
-->

{{/if}}
