<div class="med">
  {{current.temperature}}<i class="wi wi-degrees"></i>, {{current.summary}}

  {{#if current.icon}}
    <i class="wi wi-forecast-io-{{current.icon}}"></i>
  {{/if}}
</div>

{{#if preview}}
<div>
  {{preview.temperatureMin}}<i class="wi wi-degrees"></i>
  /
  {{preview.temperatureMax}}<i class="wi wi-degrees"></i>
  <br/>{{preview.summary}}
</div>

<div>
  <i class="wi wi-sunrise"></i>
  {{preview.sunriseTime}}
</div>

<div>
  <i class="wi wi-sunset"></i>
  {{preview.sunsetTime}}
</div>

{{/if}}
