<div class="med">
  {{moment-format model 'dddd [the] Do'}}
</div>

<div class="lrg">
  {{moment-format model 'h:mm'}}
</div>

{{live-weather
  now=model
  key=bag.darkSkyApiKey
  latitude=bag.geoLatitude
  longitude=bag.geoLongitude}}

{{live-birthdays now=model collection=birthdays}}

{{live-chores now=model collection=chores}}

{{!-- VTA --}}

{{!-- CALENDAR --}}

{{!-- TRAFFIC --}}

{{!-- GREETING --}}

{{!-- SEED
<button{{action "seed" "chore" (hash occurs=0 text="Clean the pool")}}>Seed Chore Pool</button>
<button{{action "seed" "chore" (hash occurs=0 text="Laundry")}}>Seed Chore Laundry</button>
<button{{action "seed" "chore" (hash occurs=3 text="Take out garbage")}}>Seed Chore Garbage</button>

<button {{action "seed" "birthday" (hash day=10 month=3 name="Summer" year=1978)}}>Seed Birthday Summer</button>
<button {{action "seed" "birthday" (hash day=6 month=3 name="Jae" year=1979)}}>Seed Birthday Jae</button>
<button {{action "seed" "birthday" (hash day=10 month=6 name="Jonathan" year=1999)}}>Seed Birthday Jon</button>
<button {{action "seed" "birthday" (hash day=9 month=12 name="Lillian" year=2003)}}>Seed Birthday Lillian</button>
<button {{action "seed" "birthday" (hash day=5 month=12 name="Evelyn" year=2012)}}>Seed Birthday Evelyn</button>
--}}
